<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
<%= @profile.title %>
<% @profile.skills.each do |f| %>
	<%= f.name %>
<% end %>
<% if @profile.photo? %>
  <%= cl_image_tag @profile.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
